[Unit]
Description=CoLinux Compat Auto-Update Timer
Documentation=man:systemd.timer

[Timer]
OnCalendar=*-*-* 00/6:00:00
Persistent=true
AccuracySec=5min

[Install]
WantedBy=timers.target
